.bg-img-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: animate 20s ease infinite;
}

.tint {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  height: 100vh;
  width: 100%;
  opacity: 0.5;
}

.login-form {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}
@keyframes animate {
  0%,
  100% {
    background-image: url("../../assets/images/bg-img1.jpg");
  }
  25% {
    background-image: url("../../assets/images/bg-img2.jpg");
  }
  50% {
    background-image: url("../../assets/images/bg-img3.jpg");
  }
  75% {
    background-image: url("../../assets/images/bg-img4.jpg");
  }
}
